<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Fees Payment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .navigation {
     height: 55px;
     background: linear-gradient(45deg, #4199fe, #74b4fe);
}
.card{
margin-left:620px;
margin-top:50px;
}

 .brand {
     position: absolute;
    margin-left:-220px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}
 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}
 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
        .container {
          
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .box {
            background-color: #f8f9fa;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }
        .heading {
            color: #007bff;
            margin-top: 0;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .col-md-12 {
            width: 100%;
            box-sizing: border-box;
        }
        p {
            margin-bottom: 10px;
        }
        ul {
            margin-bottom: 10px;
            list-style-type: none;
            padding-left: 0;
        }
        ul li {
            margin-bottom: 5px;
        }
        .btn-info {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            transition: background-color 0.3s;
        }
        .btn-info:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a href="#!">Bus Fees Payment Portal</a>
          </div>
          
         
        </div>
      </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">Online Payments</h5>
                    <p>This online payment system is provided by Kongu Engineering College. Kongu Engineering College may update these terms from time to time and any changes will be effective immediately on being set out here. Please ensure you are aware of the current terms. The country of domicile for Kongu Engineering College is India.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">Terms &amp; Conditions </h5>
                    <p>Please read these terms carefully before using the online payment facility. Using the online payment facility on this website indicates that you accept these terms. If you do not accept these terms do not use this facility. </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h4 class="heading" style="color:#c8102e;">All payments are subject to the following conditions:-  </h6>
                    <p>The description of services of match making are specific to your need, when you log in with your unique password. Normally payment is required in advance (i.e. before you commence your activity). </p>
                    <p>All Fees quoted are in Indian Rupees. The Kongu Engineering College reserves the right to change the fees at any time.</p>
                    <ul>
                        <li> Your payment will normally reach the Kongu Engineering College account to which you are making a payment within two working days. </li>
                        <li> We cannot accept liability for a payment not reaching the correct Kongu Engineering College account due to you quoting an incorrect account number or incorrect personal details. Neither can we accept liability if payment is refused or declined by the credit/debit card supplier for any reason. </li>
                        <li> If the card supplier declines payment the Kongu Engineering College is under no obligation to bring this fact to your attention. You should check with your bank/credit/debit card supplier that payment has been deducted from your account. </li>
                        <li> In no event will the Kongu Engineering College be liable for any damages whatsoever arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information contained at any or all such sites, whether based on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages. </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">Refund Policy </h5>
                    <ul>
                        <li> If the Customer leaves the Kongu Engineering College before they complete their service period, there shall be no entitlement to a refund of paid service fees. </li>
                        <li> Refunds, if applicable, at the discretion of the Management, will only be made to the debit/credit card used for the original transaction. For the avoidance of doubt nothing in this Policy shall require the Kongu Engineering College to refund the Fees (or part thereof) unless such Fees (or part thereof) have previously been paid. </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">Privacy Policy </h5>
                    <p>This Privacy Policy applies to all of the products, services and websites offered by Kongu Engineering College. Sometimes, we may post product specific privacy notices or Help Centre materials to explain our products in more detail. </p>
                    <p>If you have any questions about this Privacy Policy, please feel free to contact us through our website or write to us </p>
                    <p>Information we collect and how we use it for our Kongu Engineering College.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">Changes to our Privacy Policy </h5>
                    <p>Kongu Engineering College reserves the entire right to modify/amend/remove this privacy statement anytime and without any reason. Nothing contained herein creates or is intended to create a contract/agreement between Kongu Engineering College and any user visiting the Kongu Engineering College website or providing identifying information of any kind.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <h5 class="heading">DND Policy </h5>
                    <p>If you wish to stop any further sms/email alerts/contacts from our side, all you need to do is to send an email:- registrar@kongu.ac.in  with your mobile numbers and you will be excluded from the alerts list.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    
                    <p><a href="/users/index" class="btn btn-info" role="button">Online Fee Payment</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
